[paths]
source =
   src/janggo
   */site-packages/janggo

[run]
branch = true
source =
    janggo
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    src/janggo/cli.py
    src/janggo/__main__.py
