[paths]
source =
   src/bluewhalecore
   */site-packages/bluewhalecore

[run]
branch = true
source =
    bluewhalecore
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
